<div class="volume-gain">
  <div class="volume-gain-container">
    <div class="gain-container">
      {{aa-peak-meter
        class="peak-meter"
        min=-100
        max=0
        yellowLimit=-40
        redLimit=-20
        value=0.5
      }}

      {{aa-slider
        class="slider"
        showValue=true
        valueTitle=(t 'volume-gain.gain')
        min=0
        value=this.gain
        max=10
        step=0.01
      }}
    </div>

    <div class="volume-container">
      {{aa-peak-meter
        class="peak-meter"
        min=-100
        max=0
        yellowLimit=-40
        redLimit=-20
        value=0.7
      }}

      {{aa-slider
        class="slider"
        showValue=true
        valueTitle=(t 'volume-gain.volume')
        min=0
        value=this.volume
        max=100
        step=1
      }}
    </div>
  </div>

  <div class="button-container">
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.isMuted
      text=(t 'volume-gain.mute')
      icon="assets/images/volume-off-icon.svg"
      onButtonClick=(action "onIsMutedChange" this.isMuted)
    }}

    {{aa-toggle-button
      class="toggle-button"
      isActive=this.isSolo
      text=(t 'volume-gain.solo')
      icon="assets/images/volume-on-icon.svg"
      onButtonClick=(action "onIsSoloChange" this.isSolo)
    }}
  </div>
</div>
