<div class="canvas-wrapper">
  <canvas class="canvas"></canvas>
  <div class="overlay">
    {{#each this.micPositions as |micPosition|}}
      <div class="{{if micPosition.selected "selected sonar"}}" style={{micPosition.style}} {{action "selectMicrophone" micPosition on="mouseUp"}}>
       {{inline-svg "assets/images/microphone-icon.svg" class="microphone"}}
      </div>
    {{/each}}

    {{#each this.speakerPositions as |speakerPosition|}}
      <div style={{speakerPosition.style}}>
       {{inline-svg "assets/images/speaker-icon.svg" class="speaker"}}
      </div>
    {{/each}}
  </div>
</div>
