<div class="canvas-wrapper">
  <canvas class="canvas {{if this.isUniformizationDemo "huge"}}"></canvas>
  <div class="overlay">
    {{#each this.micPositions as |micPosition index|}}
      <div class="{{if micPosition.selected "selected sonar"}} tooltip" style={{micPosition.style}} {{action "selectMicrophone" micPosition on="mouseUp"}}>
        {{#if this.isUniformizationDemo}}
          {{#unless index}}
            {{inline-svg "assets/images/female-icon.svg" class="person"}}
          {{else}}
            {{inline-svg "assets/images/microphone-icon.svg" class="microphone"}}
          {{/unless}}
        {{else}}
          {{inline-svg "assets/images/microphone-icon.svg" class="microphone"}}
        {{/if}}

        <div class="tooltip-pane">
          {{percentage micPosition.errorRate 2}} {{t 'heat-map.error-rate'}}
        </div>
      </div>
    {{/each}}

    {{#each this.speakerPositions as |speakerPosition|}}
      <div style={{speakerPosition.style}}>
        {{inline-svg "assets/images/speaker-icon.svg" class="speaker"}}
      </div>
    {{/each}}
  </div>
</div>
