<ul class="breadcrumb">
  <li class="{{is-active 0 active}}">{{t 'breadcrumb.parameters'}}</li>
  <li class="{{is-active 1 active}}">{{t 'breadcrumb.placement'}}</li>
  <li class="{{is-active 2 active}}">{{t 'breadcrumb.initialization'}}</li>
  <li class="{{is-active 3 active}}">{{t 'breadcrumb.confirmation'}}</li>
  <li class="{{is-active 4 active}}">{{t 'breadcrumb.optimization'}}</li>
  <li class="{{is-active 5 active}}">{{t 'breadcrumb.end'}}</li>
</ul>
