{{aa-page-header title=(t 'initial-parameters-form.title')}}

<form
  class="form"
  {{action "saveConfig" on="submit"}}
>

  <div class="input-wrapper">
    <label class="label">
      {{t 'initial-parameters-form.configuration-name'}}
    </label>

    {{input
      class="input"
      type="text"
      placeholder=(t 'initial-parameters-form.configuration-name')
      value=this.configuration.name
    }}
  </div>

  <div class="input-wrapper">
    <label class="label">
      {{t 'initial-parameters-form.monitors-number'}}
    </label>

    {{input
      class="input"
      type="number"
      max="30"
      min="0"
      placeholder=(t 'initial-parameters-form.monitors-number')
      value=this.configuration.monitorsNumber
    }}
  </div>

  <div class="input-wrapper">
    <label class="label">
      {{t 'initial-parameters-form.speakers-number'}}
    </label>

    {{input
      class="input"
      type="number"
      max="30"
      min="0"
      placeholder=(t 'initial-parameters-form.speakers-number')
      value=this.configuration.speakersNumber
    }}
  </div>

  <button
    class="save-config-button"
    type="submit"
  >
    {{t 'initial-parameters-form.confirm'}}
    {{inline-svg "assets/images/arrow-icon.svg" class="arrow-icon"}}
  </button>
</form>
