<div class="graph-container">
  <div class="header">
    <div class="channel-name">
      {{this.channel.data.channelName}}
    </div>

    {{aa-toggle
      leftValue=(t 'channel-details.graphic')
      rightValue=(t 'channel-details.parametric')
      isActive=this.isParametric
    }}
  </div>

  <div class="graph">
    {{aa-eq-graph
      isParametric=this.isParametric
      channelInfos=this.channel
      parametricEqValues=this.parametricEqGraphValues
      graphicEqValues=this.graphicEqGraphValues
    }}
  </div>
</div>


<div class="eq-container">
  {{aa-volume-gain
    class="volume-gain-container"
    volume=this.channel.data.volume
    gain=this.channel.data.gain
    inputAfterGain=this.inputAfterGain
    inputAfterEq=this.inputAfterEq
    isMute=this.channel.data.isMuted
    isSolo=this.channel.data.isSolo
    onVolumeChange=(action "onVolumeChange")
    onGainChange=(action "onGainChange")
    onIsMutedChange=(action "onIsMutedChange")
    onIsSoloChange=(action "onIsSoloChange")
  }}

  {{aa-eq
    auxiliaryId=this.channel.data.auxiliaryId
    channelId=this.channel.data.channelId
    isParametric=this.isParametric
    parametricFilters=this.channel.data.paramEq
    graphicFilters=this.channel.data.graphEq
    parametricEqGraphValues=this.parametricEqGraphValues
    graphicEqGraphValues=this.graphicEqGraphValues
    isMasterOutput=this.isMasterOutput
    isAuxiliaryOutput=this.isAuxiliary
    onEqChange=(action "onEqChange")
  }}
</div>

{{#link-to 'console'}}
  {{inline-svg "assets/images/arrow-icon.svg" class="arrow-icon"}}
{{/link-to}}
