{{this.channelId}}

<div class="header">
  <div class="channel-name">
    {{this.channel.data.channelName}}
  </div>
  {{aa-toggle
    leftValue=(t 'channel-details.graphic')
    rightValue=(t 'channel-details.parametric')
    isActive=this.isParametric
  }}
</div>

<div class="graph"></div>


<div class="eq-container">
  {{aa-volume-gain
    class="volume-gain-container"
    volume=this.channelVolume
    gain=this.channelGain
    isMute=this.channel.data.isMuted
    isSolo=this.channel.data.isSolo
    onVolumeChange=(action "onVolumeChange")
    onGainChange=(action "onGainChange")
    onIsMutedChange=(action "onIsMutedChange")
    onIsSoloChange=(action "onIsSoloChange")
  }}

  {{aa-eq
    isParametric=this.isParametric
    parametricFilters=this.channel.data.paramEq
    graphicFilters=this.channel.data.graphEq
  }}
</div>
