<div class="text-wrapper">
  <div class="text {{if this.isOn "active"}}">
    {{t 'power-button.on'}}
  </div>

  <div class="text {{unless this.isOn "active"}}">
    {{t 'power-button.off'}}
  </div>
</div>

<div
  class="button-wrapper {{if this.isOn "active"}}"
  onClick={{action "togglePower"}}>
  {{inline-svg "assets/images/power-off-icon.svg" class="power-off-icon"}}
</div>
