{{aa-page-header title=(t 'optimal-positions.title')}}

<div class="map">
  {{aa-positions-map positions=this.positions}}
</div>

<div class="buttons-wrapper">
  <button
    class="button rerun-initialization-button"
    onClick={{action "rerunInitialization"}}
  >
    {{inline-svg "assets/images/replay-icon.svg" class="replay-icon"}}
    {{t 'optimal-positions.rerun'}}
  </button>

  <button
    class="button confirm-button"
    onClick={{action "confirmPositions"}}
  >
    {{t 'optimal-positions.confirm'}}
    {{inline-svg "assets/images/arrow-icon.svg" class="arrow-icon"}}
  </button>
</div>
