{{leftValue}}

<div class="card">
  <label for="switch">
    {{input type="checkbox" id="switch" checked=isActive}}
      <span class="switch" onClick={{action "onClick"}}></span>
      <span class="toggle" onClick={{action "onClick"}}></span>
  </label>
</div>

{{rightValue}}
