{{#if this.isChannelDetailsVisible}}
  {{aa-channel-details
    channel=this.currentChannel
    hideChannelDetails=(action "hideChannelDetails")
    onChannelMuteChange=(action "onChannelMuteChange")
    onChannelSoloChange=(action "onChannelSoloChange")
  }}
{{else}}
  <div class="top-container">
    {{log this.positions}}
    {{aa-heat-map
      max=0.15
      min=0
      radius=250
      positions=this.positions
      class="heat-map"
    }}
  </div>

  <div class="channels">
    <div class="inputs">
      {{#each-in this.channels.inputs as |index channel|}}
        {{aa-channel
          channel=channel
          onChannelMuteChange=(action "onChannelMuteChange" channel.data)
          onChannelSoloChange=(action "onChannelSoloChange" channel.data)
          onGainChange=(action "onGainChange")
          masterInputs=this.channels.master.data.inputs
          isOutput=false
          showChannelDetails=(action "showChannelDetails")
        }}
      {{/each-in}}
    </div>

    <div class="outputs">
      {{aa-channel
        channel=this.channels.master
        onChannelMuteChange=(action "onChannelMuteChange" this.channels.master.data)
        onChannelSoloChange=(action "onChannelSoloChange" this.channels.master.data)
        onGainChange=(action "onGainChange" channel.data)
        isOutput=true
        showChannelDetails=(action "showChannelDetails")
      }}

      {{#each-in this.channels.auxiliaries as |index channel|}}
        {{aa-channel
          channel=channel
          onChannelMuteChange=(action "onChannelMuteChange" channel.data)
          onChannelSoloChange=(action "onChannelSoloChange" channel.data)
          onGainChange=(action "onGainChange" channel.data)
          isOutput=true
          showChannelDetails=(action "showChannelDetails")
        }}
      {{/each-in}}
    </div>
  </div>
{{/if}}
