<div class="top-container">
  {{aa-heat-map
    max=0.15
    min=0
    radius=250
    positions=this.positions.data.positions
    class="heat-map"
  }}

  <button
    class="save-button"
    onClick={{action "saveConfiguration"}}
  >
    {{t 'console.save'}}
  </button>
</div>

<div class="channels">
  {{#each-in this.channels.master.data.inputs as |index channel|}}
    {{aa-channel
      channel=channel
      onChannelMuteChange=(action "onChannelMuteChange" channel.data)
      onChannelSoloChange=(action "onChannelSoloChange" channel.data)
      onVolumeChange=(action "onVolumeChange" channel.data)
    }}
  {{/each-in}}

  {{#each-in this.channels.auxiliaries as |index auxiliary|}}
    {{#each-in auxiliary.data.inputs as |index channel|}}
      {{aa-channel
        channel=channel
        onChannelMuteChange=(action "onChannelMuteChange" channel.data)
        onChannelSoloChange=(action "onChannelSoloChange" channel.data)
        onVolumeChange=(action "onVolumeChange" channel.data)
      }}
    {{/each-in}}
  {{/each-in}}

  {{aa-channel
    channel=this.channels.master
    onChannelMuteChange=(action "onChannelMuteChange" this.channels.master.data)
    onChannelSoloChange=(action "onChannelSoloChange" this.channels.master.data)
    onVolumeChange=(action "onVolumeChange" channel.data)
    isOutput=true
  }}

  {{#each-in this.channels.auxiliaries as |index channel|}}
    {{aa-channel
      channel=channel
      onChannelMuteChange=(action "onChannelMuteChange" channel.data)
      onChannelSoloChange=(action "onChannelSoloChange" channel.data)
      onVolumeChange=(action "onVolumeChange" channel.data)
      isOutput=true
    }}
  {{/each-in}}
</div>
