<div class="top-container">
  {{aa-heat-map
    max=0.15
    min=0
    radius=250
    positions=this.positions.data.positions
    class="heat-map"
  }}

  <button
    class="save-button {{if this.hasNewChanges 'dirty'}}"
    onClick={{action "saveConfiguration"}}
  >
    {{t 'console.save'}}
  </button>
</div>

<div class="channels">
  <div class="inputs">
    {{#each-in this.channels.inputs as |index channel|}}
      {{aa-channel
        channel=channel
        onChannelMuteChange=(action "onChannelMuteChange" channel.data)
        onChannelSoloChange=(action "onChannelSoloChange" channel.data)
        onGainChange=(action "onGainChange")
        masterInputs=this.channels.master.data.inputs
        isOutput=false
      }}
    {{/each-in}}
  </div>

  <div class="outputs">
    {{aa-channel
      channel=this.channels.master
      onChannelMuteChange=(action "onChannelMuteChange" this.channels.master.data)
      onChannelSoloChange=(action "onChannelSoloChange" this.channels.master.data)
      onGainChange=(action "onGainChange" channel.data)
      isOutput=true
    }}

    {{#each-in this.channels.auxiliaries as |index channel|}}
      {{aa-channel
        channel=channel
        onChannelMuteChange=(action "onChannelMuteChange" channel.data)
        onChannelSoloChange=(action "onChannelSoloChange" channel.data)
        onGainChange=(action "onGainChange" channel.data)
        isOutput=true
      }}
    {{/each-in}}
  </div>
</div>
