<div class="wrap">
  <input
    type="range"
    oninput={{action "updateValue" value="target.value"}}
    min="{{min}}"
    max="{{max}}"
    step="{{step}}"
    value="{{value}}"
    style={{rangeStyle}}
  />
</div>

{{#if showValue}}
  <div class="value-container">
    <div class="value-text">
      {{valueTitle}}
    </div>
    <div class="value-separator"></div>
    <div class="value-text">{{value}}</div>
  </div>
{{/if}}
