<div class="title">
  {{title}}
</div>

<div class="label-mid">{{mid}}</div>

<div class="knob">
  <div class="underlay"></div>

	<div class="quarter"></div>
  <div class="quarter"></div>
  <div class="quarter"></div>
  <div class="quarter"></div>

	<div class="overlay"></div>

  <div class="value">{{displayedValue}}</div>
</div>

<div class="bottom-label-container">
  <div class="label min">{{min}}</div>
  <div class="label max">{{max}}</div>
</div>
