<div class="channel {{if this.isOutput 'output'}}">
  <div class="name">
    {{input
      class="input"
      type="text"
      value=(mut this.channel.data.channelName)
    }}
    <div class="details">
      {{#link-to "channel-details" (query-params channel=this.stringifiedChannel)}}
        {{inline-svg "assets/images/arrow-icon.svg" class="link-icon"}}
      {{/link-to}}
    </div>
  </div>

  <div class="meter-container">
    {{aa-slider
      min=0
      value=(mut gainValue)
      max=100
      step=1
      onSliderChanged=this.onGainChange
    }}

    {{aa-peak-meter
      min=0
      max=100
      yellowLimit=65
      redLimit=85
    }}
  </div>

  <div class="button-container">
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.channel.data.isMuted
      text="M"
      onButtonClick=this.onChannelMuteChange
    }}

    {{#unless this.isOutput}}
      {{aa-toggle-button
        class="toggle-button"
        isActive=this.channel.data.isSolo
        text="S"
        onButtonClick=this.onChannelSoloChange
      }}
    {{/unless}}
  </div>
</div>
