<div class="channel">
  <div class="name">
    <div class="input">{{this.name}}</div>
    <div class="details">...</div>
  </div>

  <div class="meter-container">
    {{aa-slider
      min=0
      value=this.volume
      max=100
      onSliderChange=this.onChannelVolumeChange
    }}

    {{aa-peak-meter
      min=0
      max=100
      yellowLimit=65
      redLimit=85
      value=this.volume
      class="peak-meter"
    }}
  </div>

  <div class="button-container">
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.mute
      text="M"
      onButtonClick=this.onChannelMuteChange
    }}
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.solo
      text="S"
      onButtonClick=this.onChannelSoloChange
    }}
  </div>
</div>
