<div class="channel {{if this.isOutput 'output'}}">
  <div class="name">
    {{input
      class="input"
      type="text"
      value=(mut this.channel.data.channelName)
    }}
    <a class="details" onClick={{action 'onShowChannelDetailsClick'}}>
      {{inline-svg "assets/images/arrow-icon.svg" class="link-icon"}}
    </a>
  </div>

  <div class="meter-container">
    {{aa-slider
      min=0
      value=(mut gainValue)
      max=100
      step=1
    }}

    {{aa-peak-meter
      min=-60
      max=0
      yellowLimit=-10
      redLimit=-5
      value=this.peakMeterValue
    }}
  </div>

  <div class="button-container">
    {{aa-toggle-button
      class="toggle-button"
      isActive=this.channel.data.isMuted
      text="M"
      onButtonClick=this.onChannelMuteChange
    }}

    {{#unless this.isOutput}}
      {{aa-toggle-button
        class="toggle-button"
        isActive=this.channel.data.isSolo
        text="S"
        onButtonClick=this.onChannelSoloChange
      }}
    {{/unless}}
  </div>
</div>
