{{aa-page-header title=(t 'probe-positioning.title')}}

<div class="positioning-container">
  <div class="positioning-instructions">
    {{t 'probe-positioning.instructions'}}
  </div>

  <button
    class="run-initialization-button"
    onClick={{action "initializeProbes"}}
  >
    {{t 'probe-positioning.run'}}
    {{inline-svg "assets/images/arrow-icon.svg" class="arrow-icon"}}
  </button>
</div>
