{{inline-svg "assets/images/topbar_logo.svg" class="logo {{if this.isConnected 'connected' 'disconnected'}}"}}

<div class="window-controls">
  {{inline-svg "assets/images/minimize.svg" class="button minimize"}}
  {{inline-svg "assets/images/maximize.svg" class="button maximize"}}
  {{inline-svg "assets/images/close.svg" class="button close"}}
</div>
